{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/feedback.css' static %}">
    <title>FEEDBACK FORM</title>
</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="card" style="width: 55%">
        <div class="card-body">
                <form class="css" action="{% url 'feedback_create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-10">
                                {% for fields in form %}
                                    {{ fields.label_tag }}
                                    <br>
                                    {{ fields }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <input type="submit" class="btn btn-primary float-right" value="Submit">
                        </form>  
    {% else %}
    <div class="container">
        <h3 class="text-center" style="margin: 20%"> Please login </h3>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>