{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MACHINE DETAILS</title>
</head>
<body>
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/details.css' static %}">
    <div class="row" style="margin: 5%">
        <div class="col">
            <div class="card" style="width: 100%">
                <div class="card-body" style="margin: 5%">
                    <h2>{{ machine_det.machine_name }}</h2>
                    <div class="col" style="padding: 0">
                        <div class="row">
                            <div class="col">
                                <h4> Manufactured by: </h4>
                            </div>
                            <div class="col">
                                <p> {{ machine_det.manufacturer }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4> Location: </h4>
                            </div>
                            <div class="col">
                                <p> {{ machine_det.location }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4> Year Built: </h4>
                            </div>
                            <div class="col">
                                <p> {{ machine_det.year_built }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="text-align: center">
          {% load static %}
            <img class="asset1" src="{% static 'mesin.png' static %}">
        </div>
    </div>



    {% endblock %}
</body>
</html>
