<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="margin: 2%"> Engineers</h1>
          {% for engineer in engineers %}
            <div class="card" style="width: 75%">
                <div class="card-body" style="margin: 5%">
                <h2>{{ engineer.namaEngineer }}</h2>
                <h4>{{ engineer.lokasiEngineer }} || {{ engineer.status}}</h4>
                <a id = "engineerDetail" href="{{ engineer.pk }}">View Details</a>
          </div>
        </div>
    {% endfor %}
    <a href="{% url 'engineer_create' %}" id="addEng" class="btn">Add Engineer</a>
  </body>
</html>
