{%extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/engineer.css' static %}">

    {% if engineers %}
    {# icon and search-box #}
    <div class="md-form col-4" style="margin: 5%">
      <input class="form-control" name="q" id="eng-input" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="row-sm-12" id="replaceable-content" style="margin: 5%">
        <div class="col col-sm-12 col-xl-10">
          <h1 style="margin: 2%"> Engineers</h1>
          <div class="row-5">
          {% for engineer in engineers %}
            <div class="card" style="width: 75%">
                <div class="card-body" style="margin: 5%">
                <h2>{{ engineer.namaEngineer }}</h2>
                <h4>{{ engineer.lokasiEngineer }} || {{ engineer.status}}</h4>
                <a id = "engineerDetail" href="{{ engineer.pk }}">View Details</a>
          </div>
        </div>
    {% endfor %}
    <a id="addEng" href="{% url 'engineer_create' %}" class="btn">Add Engineer</a>
    {% endif %}

{% endblock %}
  </body>
</html>
