{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/feedback.css' static %}">
    <title>FEEDBACK</title>
</head>
<body>
    {% block content %}
    <div class="card" style="width: 55%">
        <div class="card-body">
            <div class="row">
            {% for feedback in feedbacks %}
            <div class="col-sm-4 text-left">
                <h1>{{ feedback.name }}</h1>
                <p>{{ feedback.message }}</p>
                <h2>{{ feedback.msgDetails }}</h2>
                <div class = 'form-group'>
                    <form action="/feedback/delete/{{ feedback.id }}/" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete Submission</button>
                    </form>
            </div>

            </div>
            {% endfor %}
            </div>
        <div class = 'col-md-12'>
            <a href="create/"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create Feedback</button></a>
            {% endblock %}

</body>

</html>