<!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-dark">

    <!-- Navbar brand -->
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'OK' %}">Edgology</a>
    {% else %}
    <a class="navbar-brand" href="{% url 'login' %}">Edgology</a>
    {% endif %}

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'machoverview' %}">Overview
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Your Company</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'overview' %}">Engineers</a>
            <a class="dropdown-item" href="{% url 'report_overview' %}">Reports</a>
            <a class="dropdown-item" href="{% url 'feedback' %}">Feedbacks</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="UserNav">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>{{ request.user }}</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="#">My account</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
