{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ALL CLEAR</title>
</head>
<body>
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/OK.css' static %}">
      <div class="ok">
          <div class = "row" style="text-align: left; margin: 0">
            <div class = "depan" style="z-index: 2">
              {% if user.is_authenticated %}
                <h1>
                  Hello, {{ request.user }} 
                  Maintain your
                    <br> machines on a
                    <br> closer level. </h1>

                <p>
                        Live reports <br>
                        Fast and reliable <br>
                        Maintaining made easier <br>
                        Updates you about your machine's system <br>
                        Check on your factory's condition anytime, anywhere
                </p>
            </div>
                    <img class="bg" src="{% static 'bg1.png' static %}">


                    <div class="col">
                            <img class="icon" src="{% static 'blueicon.png' static %}">
                            <h1 style="color: #07B3B7;">ALL CLEAR</h1>
                            <a href="{% url 'machoverview' %}" class="btn">Detail</a>
                           </div>
      {% else %}
      <div class="container">
        <h3 class="text-center" style="margin: 20%"> Please login </h3>
        </div>
      {% endif %}
      {% endblock %}

</body>
</html>
