{% extends "base.html" %}
{% block content %}
	<div class="jumbotron bg-light" style="height: 100vh;">
		<h2>Machine Overview</h2>
		<div class="d-flex flex-row flex-wrap-reverse">
			<div class="d-lg-flex flex-column" style="flex-basis: 60%; flex-grow: 2;">
				{% for Machine in ErrorM %}
				<div class="card">
					<div class="d-flex flex-row flex-wrap justify-content-center" style="min-width: 320px;">
						<div class="d-flex flex-column" style="flex-basis: 80%; flex-shrink: 0;min-width: 320px;">
							<div class="card-body">
								<h5 class="card-title">{{ Machine.getNamaMesin }}</h5>
								<p class="card-text">{{ Machine.getLokasi }}</p>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-center flex-fill">
							<a href="{{ Machine.id }}" class="btn btn-danger h-30 w-100 active"style="font-size: 100%;">ERROR</a>
						</div>
					</div>
				</div>
				{% empty %}
				{% endfor %}
				{% for Machine in RepairM %}
				<div class="card">
					<div class="d-flex flex-row flex-wrap justify-content-center" style="min-width: 320px;">
						<div class="d-flex flex-column" style="flex-basis: 80%; flex-shrink: 0;min-width: 320px;">
							<div class="card-body">
								<h5 class="card-title">{{ Machine.getNamaMesin }}</h5>
								<p class="card-text">{{ Machine.getLokasi }}</p>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-center flex-fill">
							<a href="{{ Machine.id }}" class="btn btn-warning h-30 w-100 active"style="font-size: 100%;">REPAIRING</a>
						</div>
					</div>
				</div>
				{% empty %}
				{% endfor %}
				{% for Machine in SafeM %}
				<div class="card">
					<div class="d-flex flex-row flex-wrap justify-content-center" style="min-width: 320px;">
						<div class="d-flex flex-column" style="flex-basis: 80%; flex-shrink: 0;min-width: 320px;">
							<div class="card-body">
								<h5 class="card-title">{{ Machine.getNamaMesin }}</h5>
								<p class="card-text">{{ Machine.getLokasi }}</p>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-center flex-fill">
							<a href="{{ Machine.id }}" class="btn btn-success h-30 w-100 active"style="font-size: 100%;">SAFE</a>
						</div>
					</div>
				</div>
				{% empty %}
				{% endfor %}
			</div>
			<div class="d-flex flex-column" style="flex-basis: 40%; flex-grow: 1;">
				<div class="card">
					<h3 class="card-title text-center">Summary</h3>
					<button type="button" class="btn btn-danger btn-lg btn-block mx-auto active" style="border-radius: 10px; min-width: 70%;font-size: 80%;" disabled>ERRORS : {{ErrC}}</button>
					<button type="button" class="btn btn-warning btn-lg btn-block mx-auto active" style="border-radius: 10px; min-width: 70%;font-size: 80%;" disabled>ON REPAIR : {{RepC}}</button>
					<button type="button" class="btn btn-success btn-lg btn-block mx-auto active" style="border-radius: 10px; min-width: 70%;font-size: 80%;" disabled>SAFE : {{SafeC}}</button>

	<a href="{% url 'signUpMesin' %}" class="btn" style="color: #07B3B7">Add Machine</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
