<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="margin: 2%">Report</h1>
    <div class="row-5">
    {% for report in reports %}
      <div class="card" style="width: 75%">
          <div class="card-body" style="margin: 5%">
          <h2>{{ report.namaPembuatReport }}</h2>
          <h4>{{ report.jenisReport }} || {{ report.tanggalPembuatan}}</h4>
          <a id = "reportDetail" href="{{ report.pk }}">View Details</a>
    </div>
  </div>
{% endfor %}
  </body>
</html>
