{%extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/report.css' static %}">
    {% if reports %}
    {# icon and search-box #}
    <div class="md-form col-4" style="margin: 5%">
      <input class="form-control" name="q" id="rep-input" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="row-sm-12" id="replaceable-content" style="margin: 5%">
        <div class="col col-sm-12 col-xl-10">
          <h1 style="margin: 2%">Report</h1>
          <div class="row-5">
          {% for report in reports %}
            <div class="card" style="width: 75%">
                <div class="card-body" style="margin: 5%">
                <h2>{{ report.namaPembuatReport }}</h2>
                <h4>{{ report.jenisReport }} || {{ report.tanggalPembuatan}}</h4>
                <a id = "reportDetail" href="{{ report.pk }}">View Details</a>
          </div>
        </div>
    {% endfor %}
    <a href="{% url 'report_create' %}" class="btn">Add report</a>
    {% endif %}
  
  {% endblock %}
  </body>
</html>
