{% extends "base.html" %}
{% block content %}
	<div class="jumbotron bg-light">
		<div class="card mx-auto justify-content-center" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Add Your Machine</h5>
				<form method="post" action="">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn text-light ml-5" style="background-color: #07b3b7; min-width: 50%; font-size: 80%;" id="id_submit_mesin">Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}