@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800i&display=swap');
body{
    height: 150%;
    width: 100vw;
}

.navbar{
    background-color: #07B3B7;
}

.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: white;
}


.card{
    border-radius: 20px;
    box-shadow: -1px 2px 25px rgba(0,0,0,.08);
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 3%;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
}

.asset1{
    max-width:80%;
    max-height:80%;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    margin: 3%;
    color: white;
    border-radius: 25px;
    text-align: center;
    background-color: #07B3B7;
    width: 10vw;

}