@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700,900&display=swap');

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    margin: 3%;
    color: white;
    border-radius: 25px;
    text-align: center;
    background-color: #07B3B7;
    width: 10vw;

}