@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800i&display=swap');
.oke{
    background: url("../bluebg.png");
    background-size: cover;  /*bikin jadi pas sama layar*/
    height: 100%;
    width: 100vw;
}

.col{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.icon{
    max-width:20%;
    max-height:20%;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 5vw;
    padding-left: 2%;
    margin: 3%;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    color: #07B3B7;
    border-radius: 25px;
    text-align: center;
    background-color: white;
    width: 10vw;

}